body{
    text-align: center;
    background: linear-gradient(253deg, #FF3D00 0.01%, #F90 50%, #FFE500 100%);
    background-size: 100%;
}
canvas{
    margin-top: 100px;
    border-radius: 34px;
    border: 6px solid #FFA800;
    background: #FFF;
}
h1{
    font-family: 'Londrina Solid', cursive;
    font-size: 45px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    background: linear-gradient(180deg, #FF5C00 0%, #FFB800 31.34%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1px #000;
}
footer{
    position: absolute;
    bottom: 0;
    font-family: 'Londrina Solid', cursive;
}

video{
    position: relative;
    right: 450px;
    top: 50px;
}